{% extends 'base.html' %}

{% block content %}
<h2> HELLO!!</h2>


This is info on {{ user_id }}

<ul>
    <li>Age: {{ age }} </li>
    <li>Zipcode: {{ zipcode }} </li>

    <li> Here are all the movies {{ user_id }} has reviewed:
        <ul> 
            {% if ratings == [] %}
                <li> Hasn't rated anything yet! </li> 
            {% else %}

                {% for rating in ratings %}
                <li> {{ rating.movie.title }} : {{ rating.score }} </li> 
                {% endfor %}
            {% endif %}
        </ul>
</ul>

{% endblock %}